.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
  color: #000;
  text-decoration: none;
}
.container > img {
  width: 80px;
}
.title {
  font-weight: bold;
}
.category {
  color: rgb(224, 4, 155);
}
.rating {
  color: rgb(128, 128, 128);
}
